<div class="card">
  <div class="card-header">
    Sign in
  </div>

  <span class="alert alert-danger" *ngIf="loginErrorMessage">
    {{loginErrorMessage}}
  </span>
  <div class="card-body">
    <form [formGroup]="loginFormGroup" (ngSubmit)="signIn()">
      <div class="row">
        <div class="form-group col-md-3">
          <label for="username" class="col-form-label"> Username</label>
          <input type="text" id="username" class="form-control" formControlName="userName"
            [ngClass]="{'errorField':loginFormGroup.controls['userName'].dirty && loginFormGroup.controls['userName'].invalid}"
          />
          <div class="errorMessage" *ngIf="loginFormGroup.controls['userName'].dirty && loginFormGroup.controls['userName'].invalid">
            Please add user name
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <label for="password" class="col-form-label"> Password </label>
          <input type="password" id="password" class="form-control" formControlName="password"
          [ngClass]="{'errorField':loginFormGroup.controls['password'].dirty && loginFormGroup.controls['password'].invalid}"
          />
          <div class="errorMessage" *ngIf="loginFormGroup.controls['password'].dirty && loginFormGroup.controls['password'].invalid">
            Please add Password
          </div>
        </div>
      </div>

      <div>
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-primary" [disabled]="loginFormGroup.invalid"> Sign in</button>
        </div>

      </div>
    </form>

  </div>
</div>